.App {
  text-align: center;
  background-color: #607d8b;
  color: #FAFAFA;
  font-size: 18px;
  font-family: math;
  height: 100vh;
}

.App>h1{
  color: #263238;
}

/* input css */
.inputItems{
  margin-top: 40px;
}

label{
  padding: 8px;
}

input{
  outline: none;
}

/* list css */
.showList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; /* Center the list horizontally */
}

.listContent {
  width: 300px; /* Adjust the width of list items */
  padding: 10px;
  background-color: #4DB6AC;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between; /* Distribute content evenly */
  align-items: center;
  text-align: center;
}

.taskContent{
  flex: 1;
  text-align: center;
}

ul{
  
  list-style-type: none;
  width: 262px;
  align-items: center;
  justify-content: center;
  margin: 4px 556px;
 
 
}

ul li{
 
  font-size: 20px;
  text-align: center;
  background-color: #4DB6AC;
  border: 1px solid black;
  margin-bottom: 8px;
  height: 9px;
 
  
 
}

.del-icon{
  color: #D81B60;
  font-size: 20px;
  cursor: pointer;
  float: right;
  
}

.update{
  color: #455A64;
  float: right;
}

.updateButton{
  background-color: #4DB6AC;
  outline: none;
  border: none;
}

.updateButton:focus{
  background-color:rosybrown ;

}

/* toggleSwitch css */



/* Light theme */
#light {
  background-color: #607d8b;
}


/* Dark theme */
#dark {
  background-color: #616161;
}

.switch{
  display: flex;
  width: 100px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

/* navbar css */
nav ul{
  display: flex;
  margin: 0 -40px;
  width: 100%;
  
  
}
  
nav ul li {
  flex: 1;
  padding: 0 0;
  background-color:#ff00001a;
  border: none;
  height: 37px;
  line-height: 1.8;
 


}

/* cardview css */

.card ul {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center; 
}

.card ul li {
  display: inline-block; 
  width: 262px;
  height: 124px;
  line-height: 124px;
  text-align: start;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card_DelIcon {
  color: #D81B60;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  
}

.cardUpdate {
  color: #455A64;
  margin-left: 59px;
 
}

.title {
  color: black;
  font-size: 16px;
  float: left;
  margin: -45px 6px;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center; /* Center the pagination */
  margin-top: 190px;
  margin-left: 31px;
}

.pagination ul {
  display: flex;
  list-style: none;
  
}

.pagination li {
  margin: 0 5px;
  height: 23px;
  background-color: #a1887f;
}

.pagination a {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.pagination a:hover {
  background-color: #ff9800;
  color: #fff;
}
.hidden{
  display: none;
}